.container {
  width: 500px;
  text-align: center;
  overflow: hidden;
  margin: auto;
  color: #ffffff;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 300px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin: 10px auto;
}

.image {
  flex-shrink: 0;
  width: 300px;
  margin-right: 50px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
}

.navigation {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding: 10px 0;
}

.dot {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background: #eee;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  min-width: 15px;
}

.dotActive {
  background: #aaff00;
  color: #ffffff;
}

.buttonsWithCarousel {
  display: flex;
  align-items: center;
}

.navButton {
  width: 30px;
  height: 30px;
}

.navButton:not(.navButtonDisabled):hover {
  cursor: pointer;
  color: #808080;
}

.navButtonDisabled {
  opacity: 0.1;
}
/* .navButtonPrev {
  left: 0px;
}

.navButtonNext {
  right: 0px;
} */
